.con {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
}
/* nav bar start */
.logo__div {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 22px;
}

main {
  overflow-x: hidden !important;
}
strong.logo {
  font-size: 100%;
}

.logo__icon {
  width: 28px;
  height: 30px;
}

.logo__icon svg {
  width: 100%;
  height: 100%;
}
.nav__btn__tow__con {
  display: none;
}

.nav__con {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.nav__btn__icon {
  width: 34px;
  height: 35px;
}

.nav__btn__icon svg {
  width: 100%;
  height: 100%;
}
/* #############----HERO START----############## */
article.head__of__hero {
  width: 100%;
  margin-top: 80px;
  gap: 28px;
}
.hero__alart__con {
  width: 100%;
}
.hero__alart_dot {
  width: 6px;
  height: 6px;
}
p.hero__alart_text {
  font-size: 10px;
}
.H__title {
  font-size: 45px;
}
button.get__started__br__hero {
  border: none;
  padding: 15px 22px;

  font-size: 15px;

  gap: 22px;
}
button.get__started__br__hero svg {
  width: 18px;
  height: 18px px;
}
h1.H__title {
  position: relative;
}

h1.H__title::after {
  content: "";
  width: 202px;
  height: 6px;
  background: #e08155;
  position: absolute;
  top: 26%;
  right: 8.2%;
  z-index: -1;
}
.hero__img img {
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
}
.hero__img__left {
  position: absolute;
  left: -18%;
  top: -24%;
  width: 100%;
}

.hero__img__right {
  position: absolute;
  top: -55%;
  right: -18%;
  width: 100%;
  z-index: -1;
}
.boltu {
  display: none;
}
.logos__in__hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px 30px;
  flex-wrap: wrap;
}
img.heros__logo {
  width: calc(100% / 4);
}
/* section.hero {
  margin: 0 0 8rem 0;
} */

/* #############----HERO DONE----############## */
/* #############----tow start----############## */
h2.H__title.section__head__Line {
  font-size: 40px !important;
}
.alart__con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  background: rgba(224, 129, 85, 0.1);
  border-radius: 32px;
}

p.alart__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* Accent/Burnt Sienna */
  color: #e08155;
}

.dot {
  width: 8px;
  height: 8px;

  /* Accent/Burnt Sienna */
  background: #e08155;
  border-radius: 50%;
}

.alart__con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  background: rgba(224, 129, 85, 0.1);
  border-radius: 32px;
}

p.alart__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* Accent/Burnt Sienna */
  color: #e08155;
}

.dot {
  width: 8px;
  height: 8px;

  /* Accent/Burnt Sienna */
  background: #e08155;
  border-radius: 50%;
}

h2.H__title.section__head__Line {
  font-size: 56px;
  text-align: left;
  padding: 1rem 0;
}

.text__portion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* gap: 35px; */
}
p.p__pera.section__pera {
  text-align: left;
}
button.transparent__getStared__btn {
  padding: 16px 24px;
  border: 1px solid #7760ff;
  border-radius: 48px;
  background: none;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #e9e6ff;
  text-transform: capitalize;
  font-weight: 800;
  margin: 1.2rem 0;
}
.section__img__portion {
  width: 100%;
}

img.section__img {
  width: 100%;
  object-fit: cover;
}

.section__con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
h2.H__title.section__head__Line::after {
  content: "";
  position: absolute;
  width: 132px;
  height: 5px;
  background: #e08155;
  left: 0px;
  top: 44%;
}
/* ---------3-------- */
.three .section__con {
  padding: 1rem;
}
.three h2.H__title.section__head__Line::after {
  content: "";
  position: absolute;
  width: 172px;
  height: 5px;
  background: #e08155;
  left: 0px;
  top: 26%;
}

/* -----------5------------- */
.five .section__con {
  position: relative;
}

.five .text__portion {
  margin-top: 22rem !important;
}
.five .section__img__portion {
  width: 100%;
  position: absolute;
  top: 0;
  left: -5.5%;
}
@media screen and (min-width: 444px) and (max-width: 568px) {
  .five .text__portion {
    margin-top: 10rem !important;
    position: unset;
  }
}
/* --------------------- */
.section__article__con {
  flex-wrap: wrap;
  gap: 8rem 0;
}

article.section__six {
  width: 100%;
  padding: 5rem 2rem 2rem 2rem;
}
h3.section__articale__headline {
  font-size: 22px;
}
p.p__pera.section__six__aricle__pera {
  font-size: 14px;
}
article.section__six {
  gap: 30px;
}
.polygon {
  width: 100px;
  height: 100px;
  top: -55px;
}
.polygon::after {
  width: 100px;
  height: 100px;
}
/* ------------------7 */
.section__article__con {
  flex-wrap: wrap;
  gap: 8rem;
}

article.section__six {
  padding: 8rem 3rem 3rem 3rem;
  gap: 3.2rem;
}
/* -----------7------------ */
.section__testoial__section {
  flex-wrap: wrap;
  justify-content: center;
}
article.revew {
  width: 100%;
  gap: 32px;
}
img.star___img {
  width: 72%;
}
body
  > main
  > section.seven
  > div
  > div
  > div.section__testoial__section
  > article:nth-child(3) {
  z-index: unset;
}
.section__seven__fst__portion {
  padding: 0;
  align-items: flex-start;
}
.slider__btns,
.pegination__number {
  display: none;
}
.section__seven__fst__portion h2 {
  width: unset;
  font-size: 42px;
}
p.testmonial {
  font-weight: 500;
  font-size: 14px;
  color: #211b47;
}
.section__seven__con {
  padding: 0;
  background: unset;
  border-radius: 0;
  gap: 55px;
}

.givr__img {
  width: 58px;
  height: 58px;
  background: #ddd;
  border-radius: 50%;
}

.gever {
  display: flex;
  align-items: center;
  gap: 1rem;
}

p.giver__name {
  font-weight: 600;
  text-transform: capitalize;
}

span.prosition {
  font-size: 15px;
  color: #e08155;
}

/* -----------888888888888888----------- */

h2.section__eight__headline {
  font-weight: 700;
  font-size: 32px;

  /* or 72px */
  line-height: 100%;
  letter-spacing: -0.04em;
  background: linear-gradient(180deg, #453894 39.38%, #bcb5e6 94.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  width: 100%;
}

.section__eight__con {
  border-radius: 18px;
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 52px;
  gap: 40px;
}

p.all__article__bts {
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* Brand/Persian Blue */
  color: #6955e0;
  font-size: 12px;
  font-weight: 700;
  display: none;
}

p.article__tag {
  letter-spacing: -0.02em;

  /* Neutral/Haiti */
  color: #211b47;
  font-weight: 800;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px;
  background: white;
  border-radius: 0 8px 0 0;
}

h4.article__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* or 29px */
  letter-spacing: -0.02em;

  /* Neutral/Haiti */
  color: #211b47;
  width: 100%;
}

span.time {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* or 22px */

  /* Neutral/Haiti */
  color: #211b47;
  text-transform: capitalize;
}

.section__eight__heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__eight__content__con {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
}

article.section__eight__article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.article__img__con__eight {
  position: relative;
  width: 100%;
}
.article__img__con__eight img {
  width: 100%;
}
.deats_time {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  border-top: 1px dotted #afafaf;
  padding: 16px 0 0 0;
}
/* ------------9999999999999---------------- */
.section__nine_con {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 3rem 0;
  flex-wrap: wrap;
}

h2.section__headline {
  font-weight: 700;
  font-size: 52px;
  line-height: 100%;
  /* or 72px */
  position: relative;
  letter-spacing: -0.04em;
  background: linear-gradient(180deg, #ffffff 44.37%, #7760ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  width: 100%;
}

.section__text__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.iphone__div::after {
  content: "";
  width: 160px;
  height: 160px;
  background: linear-gradient(270deg, #7760ff 0%, #e08155 100%);
  filter: blur(100px);
  border-radius: 48px;
  position: absolute;
  top: 80px;
  left: 90px;
  z-index: -1;
}

.iphone__div {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2.section__headline::after {
  width: 105px;
  height: 5px;
  content: "";
  background: #453894;
  position: absolute;
  left: 0;
  bottom: 8px;
  z-index: -1;
}
img.iphone {
  width: 90%;
}
/* ---------------------fffffffffffffffffffff---------------------------- */
.fotter__con {
  background: #4538949e;
  position: relative;
  border-radius: 24px;
  width: 100%;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
img.line__foter {
  position: absolute;
  right: 0;
  bottom: -0;
  opacity: 0.1;
  width: 100%;
}
p.pform__heading {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: white;
}

input.fotterr__input {
  letter-spacing: -0.02em;

  /* Neutral/Wistful */
  color: #bcb5e6;
  font-size: 14px;
  font-weight: 700;
  padding: 16px 95px 16px 24px;
  background: rgba(188, 181, 230, 0.1);
  border-radius: 80px;
  border: none;
  outline: none;
  position: relative;
  top: 0;
  left: 0;
}

button.fotter__btn {
  border: none;
  padding: 12px 20px;
  background: linear-gradient(270deg, #7760ff 0%, #e08155 100%);
  border-radius: 48px;
  filter: drop-shadow(0px 24px 36px rgba(69, 56, 148, 0.6));
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-8%, -50%);
  font-weight: 800;
  font-size: 12px;

  /* or 500% */
  letter-spacing: -0.02em;

  /* Accent/Lavender */
  color: #e9e6ff;
  text-transform: capitalize;
}

li.footer__li {
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

/* --lllll */
.fotter__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 4rem;
}

.info__foter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 44px;
}

.logo_-foter {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.fotter__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

form.fotter {
  position: relative;
}

.socal__fotter {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer__menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  width: 100%;
}

ul.fotter__ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
/* ----------last */
p.copyright__text {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  color: #bcb5e6;
  font-weight: 700;
}

.fotter__right {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.fotter_right__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}

p.copyright__text span {
  color: white;
}
footer {
  margin-bottom: 2rem;
}
.text__portion__six {
  margin-top: 5rem;
  align-items: flex-start;
}
img.lines {
  width: 100%;
  opacity: 0.1;
}
