@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");
/* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
/* font-family: 'Manrope', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}

body {
  overflow-x: hidden;
  background: #211b47;
}
.con {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.H__title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.04em;

  /* Gradient/Headline */
  background: linear-gradient(180deg, #ffffff 25%, #e9e6ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.p__pera {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  display: flex;
  align-items: center;
  text-align: center;
  color: #bcb5e5;
}

/* ################ NAV BAR START ################  */
.logo__div {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 32px;
}

strong.logo {
  font-size: 100%;
}

/* .logo__icon {
  width: 34px;
  height: 38px;
}

.logo__icon svg {
  width: 100%;
  height: 100%;
} */
.nav__btn__tow__con {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav__con {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.nav__btn__icon {
  width: 34px;
  height: 35px;
}

.nav__btn__icon svg {
  width: 100%;
  height: 100%;
}

.nav__btns {
  display: flex;
  align-items: center;
  gap: 24px;
}

button.nav__login__btn {
  font-size: 14px;

  /* identical to box height, or 20px */
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* Accent/Lavender */
  color: #e9e6ff;
  background: none;
  padding: 16px;
  border: none;
}

button.nav__get__start__btn {
  padding: 16px 24px;

  /* Accent/Purple Heart */
  border: 1px solid #7760ff;
  border-radius: 48px;
  background: none;
  font-size: 16px;

  /* or 500% */
  letter-spacing: -0.02em;

  /* Accent/Lavender */
  color: #e9e6ff;
  text-transform: capitalize;
  font-weight: 800;
}

/* ################ NAV BAR END ################  */

article.head__of__hero {
  height: 356px;
  margin: 0 auto;
  width: calc(100% / 1.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  margin-top: 88px;
}

.hero__alart_dot {
  width: 8px;
  height: 8px;

  /* Accent/Burnt Sienna */
  background: #e08155;
  border-radius: 50%;
}

.hero__alart__con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  background: rgba(224, 129, 85, 0.1);
  border-radius: 32px;
}

p.hero__alart_text {
  font-weight: 700;
  font-size: 14px;

  /* identical to box height, or 20px */
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* Accent/Burnt Sienna */
  color: #e08155;
}

button.get__started__br__hero {
  border: none;
  padding: 16px 24px;
  background: linear-gradient(270deg, #7760ff 0%, #e08155 100%);
  border-radius: 48px;
  font-weight: 800;
  font-size: 16px;

  /* or 500% */

  /* Accent/Lavender */
  color: #e9e6ff;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 24px;
}
h1.H__title {
  position: relative;
}

h1.H__title::after {
  content: "";
  width: 222px;
  height: 8px;
  background: #e08155;
  position: absolute;
  top: 26%;
  right: 8.2%;
  z-index: -1;
}
article.hero__img {
  width: 100%;
}

.hero__img__con {
  position: relative;
}

.hero__img__left {
  position: absolute;
  left: -18%;
  top: -15%;
}

.hero__img__right {
  position: absolute;
  top: -60%;
  right: -18%;
}

.hero__dashbord__img {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem 0 0 0;
  overflow: hidden;
}

.curcale__under__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #6955e0 0%,
    rgba(105, 85, 224, 0) 100%
  );
  z-index: -1;
  animation: golgol 22s infinite;
}

.inner__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #211b47 52.25%, rgba(29, 24, 63, 0) 96.01%);
  bottom: -43%;
}

.hero__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
}
/* ------------ */
.boltu {
  z-index: 99;
  position: absolute;
  transition: all 10s;
}

body
  > main
  > section
  > div
  > article.hero__img
  > div
  > div.hero__img__left
  > div:nth-child(2) {
  left: 50%;
  bottom: 19%;
  animation: golgol 8s infinite;
}

body
  > main
  > section
  > div
  > article.hero__img
  > div
  > div.hero__img__left
  > div:nth-child(3) {
  left: 29%;
  bottom: 56%;
  animation: danbam 8.5s infinite;
}

.hero__img__left > div:nth-child(4) {
  left: 43%;
  top: 8%;
  animation: birds 14s infinite;
}
body
  > main
  > section
  > div
  > article.hero__img
  > div
  > div.hero__img__right
  > div:nth-child(2) {
  right: 55%;
  bottom: 10%;
  animation: golgol 8s infinite;
}

body
  > main
  > section
  > div
  > article.hero__img
  > div
  > div.hero__img__right
  > div:nth-child(3) {
  top: 0;
  left: 10%;
  animation: danbam 8.5s infinite;
}

@keyframes danbam {
  0% {
    left: 29%;
  }
  50% {
    left: 19%;
  }
  100% {
    left: 29%;
  }
}
@keyframes golgol {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes birds {
  0% {
    left: 43%;
  }
  25% {
    left: 38%;
    top: -14%;
  }
  50% {
    left: 43%;
    top: 8%;
  }
  75% {
    left: 50%;
    top: -14%;
  }
  100% {
    left: 43%;
    top: 8%;
  }
} /* ------------- */

p.hero__LOgos__headline {
  /* Headline */

  /* Body/Large/Medium */
  font-weight: 500;
  font-size: 18px;

  /* identical to box height, or 29px */
  text-align: center;

  /* Accent/Lavender */
  color: #e9e6ff;
  opacity: 0.8;

  /* Inside auto layout */
}

article.logos__hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.logos__in__hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 105px;
  flex-wrap: wrap;
}

/* -----------hero done------------- */
